
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>
<div class="container">
    <div class="card">
        <div class="card-body">
            <form asp-action="ForgotPassword" asp-controller="Account">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label class="control-label">Full Name</label>
                    <input name="fullName" type="text" class="form-control" placeholder="Full Name" />
                    <spanclass ="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Email</label>
                    <input name="email" type="email" class="form-control" placeholder="Email" />
                    <spanclass ="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@*<form method="post" asp-action="ForgotPassword">

    <input name="FullName" type="text" />
    <input name="Email" type="text" />
    <input name="BirthDate"type="date"> </input>

    <button type="submit"> Submit</button>
</form>*@

